.heading {
  font-size: 3.7rem;
  line-height: 1.3;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .heading {
    font-size: 48px;
  }
}

.heading span {
  color: rgba(37, 135, 188, 1);
}
