    .contentWrapper {
        padding: 40px 30px;

        .upperTitle {
            font-size: 24px;
            line-height: 36px;
            background: linear-gradient(90deg, #8BD6FF 0%, #9EFFFF 50.31%, #D3BFFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // background-clip: text;
            text-fill-color: transparent;
        }

        .content {
            font-weight: 400;
            color: #F5F5F7;
            opacity: 0.8;
        }

        .authorWrapper {
            padding-left: 20px;

            .name {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: #F5F5F7;
            }

            .date {
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #C4C4C4;
            }
        }
    }