.featureSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 650px;
  width: 100%;
//   background-color: #f5f5f7;


  .description {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2d3766;

    @media (max-width: 1200px) {
      display: flex;

      color: grey;
    }
  }


}
.featureCard {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 304px;
  padding: 20px 40px;
  margin: 0 10px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  border-radius: 20px;

  @media (max-width: 1200px) {
    background: #ffff;
    height: 150px;
    margin: 10px 10px;
  }

  .header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    background: -webkit-linear-gradient(45deg, #6fbbc9, #b1a0f5, #ed434c);

    // background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    width: 100%;

    color: #2d3766;

    @media (max-width: 1200px) {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  .description {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #475569;
    opacity: 0.8;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  .featureIcon {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
