.getStarted {
  display: flex;
  flex-direction: row;
  position: relative;

  padding-bottom: 60px;
  width: 100%;
  padding-top: 50px;

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }

  .leftSection {
    position: relative;
    z-index: 2;
    .button {
      margin-top: 60px;
    }
  }
  .rightSection {
    width: 100%;
    padding-top: 60%;
    position: relative;
    // overflow: hidden;
    img {
      width: 160%;
      height: 160%;
      max-width: 800px;
      object-fit: contain;
      position: absolute;
      z-index: 0;
      right: 0;
      top: 0;
      object-position: right;
      transform: translateX(20%);
      @media screen and (max-width: 768px) {
        transform: translateX(5%);
      
        width: 140%;
        height: 140%;
      }
      @media screen and (max-width: 441px) {
        transform: translateX(5%);
        width: 160%;
        height: 160%;
      }
     
    }
    @media screen and (max-width: 441px) {
      margin-bottom: 60px;
      margin-top: 40px;
    }
    @media screen and (max-width: 768px) {
      // margin-bottom: 60px;
      margin-bottom: 60px;
      margin-top: 40px;
    }
  
   
  }

  .description {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;

    @media (max-width: 1200px) {
      font-size: 24px;
    }
  }

  .contactUs {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-top: 60px;
    line-height: 1.3;
    background: var(--ifm-bui-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.light-colormode-text {
  color: rgba(37, 135, 188, 1);
}

.dark-colormode-text {
  color: rgba(139, 214, 255, 1);
}
