.getStarted {
  display: flex;
  flex-direction: row;
  position: relative;

  padding-bottom: 60px;
  width: 100%;
  padding-top: 50px;


  .rightSection {
    width: 100%;
  
    // overflow: hidden;
    img {
      width: 70%;
      height: 100%;
      max-width: 800px;
      object-fit: contain;
      position: absolute;
      right: 0;
      object-position: right;
    }
   
  }



  .description {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;

    @media (max-width: 1200px) {
      font-size: 24px;
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .getStartedSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 60px;
    width: 100%;

    @media (max-width: 1000px) {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  .contactUs {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
    background: var(--ifm-bui-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


    :hover {
      cursor: pointer;
    }

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0px;
      width: 100%;
    }
  }
}

