.componentSection {
  .gradient-hr {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 65%;
      height: 2px;
      top: 30%;
      left: 35%;

      background: var(--ifm-bui-gradient)
    }
    h1 {
      max-width: 35%;
    }
  }
  h3 {
    font-size: 48px;
    margin-bottom: 40px;
  }
}
