@import url(//fonts.googleapis.com/css?family=Public+Sans);

body {
  margin: 0;
  background-color: #fbfbfd;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Public sans", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
